/* === Global Styles === */
:root{
  /* === MAIN COLORS === */
  --brightest: #E9F1F2;
  --contrast: #3D3E5E;
  --middle: #BDC8D8;
  /* --- DETAIL COLOR --- */
  --lowest: #0B0B11;
  --prelowest: #161622;
  --bordet: #20222A;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: url("../img/backg.jpeg") center/cover no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  color: var(--brightest);
  overflow-x: hidden;
}

/* === Navbar === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brightest);
  padding: 0rem 2rem;
  border-bottom: 1px solid var(--bordet);
  height: 5vh;
}

.logo {
  color: var(--contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.25s ease;
  height: 100%;
}

.logo:hover {
  transform: scale(1.05);
  font-weight: 600;
  color: var(--prelowest);
}

.logo h1 {
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  font-weight: 500;
}

.nav-links {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar nav {
  height: 100%;
}

.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0rem 1rem;
  transition: 0.25s;
  cursor: pointer;
}

.nav-links a {
  color: var(--contrast);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li:hover {
  background-color: var(--middle);
  transform: scale(1.1);
}

.nav-links li.active {
  background-color: var(--contrast);
}

.nav-links li.active a {
  color: var(--brightest);
}


/* === Hero Section === */
.hero {
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.2rem);
}

.showtext {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

/* === Categ === */
.categories {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  height: 95%;
}

.category {
  flex: 1;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  transition: flex 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

.category::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.3s;
}

.category:hover::before {
  background: rgba(0, 0, 0, 0.1);
  filter: grayscale(1);
}

.category:hover {
  flex: 1.5;
}

.category h3 {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.underline {
  position: relative;
  z-index: 1;
  width: 20%;
  height: 0.3rem;
  background: var(--brightest);
  margin-top: 1rem;
  border-radius: 2rem;
}

/* === Footer === */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background: var(--lowest);
  color: var(--brightest);
  border-top: 1px solid var(--bordet);
  height: 5vh;
}
footer div{
  display: flex;
  gap: 1rem;
}

footer div a{
  color: var(--brightest);
  text-decoration: none;
}

.language{
  cursor: pointer;
  color: var(--middle);
}











/* ######## INDEX ######## */
/* === HERO SECTION === */
.hero-home {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.hero-home::before {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: -1; 
}

.hero-home:hover{
  height: 42vh;
}

.overlay {
  text-align: center;
  color: var(--brightest);
  padding: 2rem;
  border-radius: 1rem;
}

.overlay h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  filter: drop-shadow(0px 0px 0.2rem rgba(0, 0, 0, 1));
  font-weight: 400;
}

.overlay h1 {
  font-size: 5rem;
  font-weight: 800;
  filter: drop-shadow(0px 0px 0.2rem rgba(0, 0, 0, 1));
}

.cta-btn {
  background: var(--brightest);
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  filter: drop-shadow(0px 0px 0.2rem rgba(0, 0, 0, 1));
  transition: all 0.25s ease;
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
}

.cta-btn a{
  color: var(--contrast);
  font-weight: 600;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.5s;
}

.cta-btn:hover{
  background: var(--contrast);
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 0.2rem var(--brightest));
}

.cta-btn:hover a{
  color: var(--brightest);
}



/* === WEEK SECTION === */
.week{
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2rem 2rem 0rem 0rem;
  backdrop-filter: blur(0.2rem);
}

.week h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.week .subtitle {
  color: var(--middle);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.week-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 2rem;
  justify-items: center;
}

.week-card {
  background: var(--brightest);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 1rem var(--lowest);
  transition: 0.25s;
  width: 100%;
}

.week-card:hover {
  transform: scale(1.1);  
}

.week-card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.week-info {
  padding: 1.5rem;
}

.week-info h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--contrast);
}

.week-info p {
  color: var(--contrast);
  font-size: 1rem;
  line-height: 1.4;
}



/* === SEARCH SECTION === */
.browse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem 2rem 4rem;
  background-color: var(--brightest);
  color: var(--contrast);;
  border-radius: 2rem 2rem 0rem 0rem;
}

.browse h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.browse .subtitle {
  color: var(--contrast);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.search-container input {
  padding: 0.8rem 1rem;
  width: 60%;
  border-radius: 2rem;
  border: 1px solid var(--contrast);
  outline: none;
  font-size: 1.5rem;
  background: var(--brightest);
}

.search-container button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--contrast);
  color: var(--brightest);
  cursor: pointer;
  font-weight: 400;
  font-size: 1.5rem;
  transition: 0.25s;
}

.search-container button:hover {
  background-color: var(--middle);
  color: var(--contrast);
  transform: scale(1.1);
}



/* === LEARN SECTION === */
.learn{
  padding: 2rem;
  background-color: var(--brightest);
}
.learn h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--contrast);
  margin-bottom: 1rem;
}

.learn-card {
  background-color: var(--middle);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  height: 100%;
}

.learn-card p {
  font-size: 1.2rem;
  color: var(--contrast);
  line-height: 1.5;
  width: 35%;
  height: 100%;
}

.features {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 60%;
  height: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: var(--contrast);
  font-weight: 800;
  gap: 0.5rem;
  width: 12rem;
  height: 100%;
}

.feature p{
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.feature #icon{
  font-size: 4.5rem;
  text-align: center;
  height: 80%;
  width: 100%;
  transition: 0.25s;
}

.feature #icon:hover{
  color: var(--brightest);
  transform: scale(1.2) rotate(2deg);
  filter: drop-shadow(0px 0px 0.5rem var(--contrast));
}



/* === PIPOL REVIEWS === */
.reviews {
  padding: 2rem;
  padding: 2rem;
  background-color: var(--brightest);
}

.reviews h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--contrast);
}

.review-card {
  background: var(--middle);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

.review-header,
.review-header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.review-header{
  margin-bottom: 1rem;
}

.review-header div p{
  font-size: 1.5rem;
  font-weight: 600;
}

.review-header img {
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
  object-fit: cover;
}

.review-header h5{
  font-size: 1rem;
  color: var(--contrast);
  font-weight: 600;
}

.review-card p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--contrast);
}


/* ===== Estilo para la sección de Add Review ===== */
.add-review {
  background: var(--brightest); /* fondo oscuro tipo espacio */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-review h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--contrast);
}

.add-review form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  width: 100%;
}

.add-review input,
.add-review textarea {
  padding: 0.8rem 1rem;
  width: 60%;
  border-radius: 2rem;
  border: 1px solid var(--contrast);
  outline: none;
  font-size: 1.5rem;
  background: var(--brightest);
}

.add-review textarea {
  min-height: 14rem ;
}

.add-review button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--contrast);
  color: var(--brightest);
  cursor: pointer;
  font-weight: 400;
  font-size: 1.5rem;
  transition: 0.25s;
}

.add-review button:hover {
  background-color: var(--middle);
  color: var(--contrast);
  transform: scale(1.1);
}
